---
import "../styles/post.css";

import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout {title} {description}>
  <article class="space-y-4 md:space-y-6 max-w-250 m-auto">
    <figure>
      {
        heroImage && (
          <Image
            width={1020}
            height={510}
            src={heroImage}
            alt="Imagem Destaque"
          />
        )
      }
    </figure>
    <div class="text-center flex flex-col">
      <span>
        Criado em <FormattedDate date={pubDate} />
      </span>
      {
        updatedDate && (
          <span>
            Atualizado em <FormattedDate date={updatedDate} />
          </span>
        )
      }
    </div>
    <h1 class="text-center">{title}</h1>
    <slot />
  </article>
</Layout>
