---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
  <article
    class="w-5/6 max-w-250 mx-auto space-y-4 md:space-y-6 py-16 md:py-24"
  >
    {
      heroImage && (
        <Image
          width={1020}
          height={510}
          src={heroImage}
          alt="Imagem Destaque"
        />
      )
    }
    <div class="text-center">
      <div>
        Criado em <FormattedDate date={pubDate} />
      </div>
      {
        updatedDate && (
          <div>
            Atualizado em <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    <h1 class="text-center">{title}</h1>
    <slot />
  </article>
</Layout>
