---
import "../styles/post.css";

import Layout from "./Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getOptimizedCoverUrl } from "../lib/notion/service";

type Props = {
  title: string;
  description?: string;
  publishedAt: Date;
  lastEditedAt?: Date;
  cover?: string;
  author?: string;
  tags?: string[];
  id?: string;
  pageId?: string;
};

const {
  title,
  description,
  publishedAt,
  lastEditedAt,
  cover,
  author,
  tags = [],
  pageId,
} = Astro.props;
---

<Layout {title} {description}>
  <article class="space-y-4 md:space-y-6 max-w-250 m-auto">
    {
      cover && (
        <figure>
          <img
            src={
              pageId
                ? getOptimizedCoverUrl(pageId, String(lastEditedAt) ?? "", 1000)
                : cover
            }
            alt={title}
            decoding="async"
            class="w-full aspect-video object-cover object-center rounded-xl block"
          />
        </figure>
      )
    }

    <div class="flex flex-col md:flex-row gap-1 md:justify-between">
      <div class="flex flex-col gap-1">
        {
          publishedAt && (
            <span>
              Criado em <FormattedDate date={publishedAt} />
            </span>
          )
        }
        {
          lastEditedAt && (
            <span>
              Atualizado em <FormattedDate date={lastEditedAt} />
            </span>
          )
        }
      </div>

      {author && <span>Por {author}</span>}
    </div>

    <h1 class="text-center">{title}</h1>

    {
      tags.length > 0 && (
        <div class="flex flex-wrap justify-center gap-2">
          {tags.map((tag) => (
            <span class="px-3 py-1 rounded-full text-sm border-2 bg-white/10 border-white/20">
              {tag}
            </span>
          ))}
        </div>
      )
    }

    <slot />
  </article>
</Layout>
